# Isi file ini dengan Token API Apify milik Anda
# Cara Mencarinya: 
# 1. Login ke website apify.com
# 2. Masuk ke Settings (Tanda Roda Gigi) -> Integrations -> "Personal API token"
APIFY_TOKEN=masukkan_token_apify_anda_disini_tanpa_tanda_kutip
